html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cfcbc6;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

#root{
    
    flex-flow: column;
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 90px;
    background-color: red;
    justify-content: space-around;
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;
    align-items: center;
    
    
}
#logo{
    width: 300px;
    height: 75px;
    background-color: white;
    margin: 10px;
}
#category{
    width: 700px;
    height: 75px;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 10px;
}
#bac{
    width: 150px;
    height: 65px;
    background-color: #ebd98a;
    font-size: 37px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}
#trung{
    width: 150px;
    height: 65px;
    background-color: #ebd98a;
    font-size: 37px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}
#nam{
    width: 150px;
    height: 65px;
    background-color: #ebd98a;
    font-size: 37px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}
#content{
    width: 100%;
    flex-grow: 1;
    
    display: flex;
    flex-flow: column;
    align-items: center;   
}
.m{
    width: 1000px;
    height:200px;
    background-color: white;
    margin: 60px;
    display: flex;
    flex-flow: row;
    
}

#footer{
    width: 100%;
    height: 260px;
    background-color:black;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: larger;
    color: white;
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;

}

#content-b1{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: white;
}

#ingredients{
    width: 40%;
    height: 100%;
    font-size: 20px;
    padding-bottom: 30px;
}

#making{
    width: 60%;
    margin-top: 50px;
    font-size: 20px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
}

#myquangimg{
    height:  80%;
    margin-top: 35px;
}

#m1{
    width: 400px;
    height: 200px;
    
}

.describtion{
    padding-left: 50px;
}

#line{
    height: 65%;
    width: 3px;
    background-color: white;
    margin-top: 30px;
}

#comgaimg{
    width: 45%;
}